* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */

.header {
  align-items: center;
  background-color: #203b46;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.navbar-list {
  display: flex;
}

.navbar-item {
  list-style-type: none;
  margin: 10px;
}

.navbar-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

/* Main content styles */

.main-content {
  align-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.meme {
  margin-bottom: 40px;
  max-width: 445px;
}

.meme-image {
  background-color: #000;
  background-size: cover;
  height: 320px;
  width: 445px;
}

.meme-text {
  background-color: #fff;
  font-family: "Arial";
  font-size: 18px;
  line-height: 1;
  padding: 30px;
  text-align: center;
}

.download-button {
  background-color: #2a9d8f;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 16px 32px;
}

/* Aside styles */

.close-button {
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.aside-editor {
  background-color: #264653;
  color: #fff;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.editing-form {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.form-headline {
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 30px;
}

.form-label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.filters-container {
  display: flex;
  flex-direction: column;
}

.filter-label {
  margin-bottom: 10px;
}

.restore-filters-button {
  cursor: pointer;
}

.checkbox-container {
  display: flex;
}

.text-align-button {
  cursor: pointer;
}

.hidden {
  display: none;
}
